.cmp-image {}

.cmp-image-image-height{
    width:150px;
    height:500px;
    
    
}
.cmp-image-image-width{
    width:800px;
    
    
}

.cmp-image__link {}
.cmp-image__image {
    
}
.cmp-image__title {}

.cmp-image__image-align {
    
    margin-left:30px;
}